
.home-page {
    margin-top: 27px;
}
.home-page__content {
    display: flex;
    gap: 30px;
}
.home-page__right {
    background-color: #F4F4F4 ;
    border-radius: 50px;
    padding: 150px 174px 0 174px;
}

.home-page__left {
    background-color: #F4F4F4;
    border-radius: 50px;
    padding: 35px 23px 0 36px;
}
.home-page__menu {
    display: flex;
    justify-content: space-between;
}
.home-page__menu-title {
    font-family: 'OswaldSemiBold';
    font-size: 32px;
    margin-bottom: 30px;    
}
.home-page__burger {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    cursor: pointer;
    height: 18px;
    margin-top: 10px;
}
.burger-span {
background-color: black;
width: 18px;
height: 2px;
border-radius: 2px;
}
.home-page__search{
    position: relative;
}
.home-page__search-input {
    font-family: 'NotoSansLight';
    font-size: 14px;
    border-radius: 50px;
    padding: 9px 0 9px 43px;
}
.home-page__search-icon {
    position: absolute;
    left: 12px;
    top: 9px;
}
.home-page__tasks {
    margin-top: 46px;
}
.title {
    font-family: 'OswaldSemiBold';
    font-size: 15px;
}
.home-page__block, .home-page__color, .home-page__add {
    font-family: 'NotoSansLight';
    font-weight: 500;
    padding-left: 12px;
    font-size: 13px;
    display: flex;
}

.home-page__upcoming {
    margin-top: 10px;
}
.home-page__block-two, .home-page__color-two {
    display: block;
    margin-right: 100px;
    width: 84px;
}
.home-page__today-two {
    border: none;
    color: black;
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
    font-size: 13px;
    text-align: start;
    margin-right: 100px;
    width: 30px;
}
.home-page__block-three {
    display: block;
    text-align: end;
    width: 24px;
    font-size: 10px;
    height: 13px;
    background-color: #EBEBEB;
    border-radius: 50px;
    text-align: center;
    margin-top: 2px;
}
.home-page__block-one, .home-page__color-one, .home-page__add-one {
    display: block;
    margin-top: 2px;
    margin-right: 7px;
}
.home-page__lists {
    margin-top: 35px;
}
.home-page__color-one {
    width: 16px;
    height: 11px;
    border-radius: 50px;
}
.home-page__red {
    margin-top: 8px;
    background-color: #D9D9D933;
    border-radius: 50px;
}
.home-page__green, .home-page__blue {
    margin-top: 10px;
    background-color: #D9D9D933;
    border-radius: 50px;
}
.home-page__red-one {
    background-color: #FF0000;
    margin-top: 4px;
}
.home-page__green-one {
    background-color: #61FF00;
    margin-top: 4px;
}
.home-page__blue-one {
    background-color: #5D7DF0;
    margin-top: 4px;
}
.home-page__add {
    margin-top: 17px;
}
.home-page__settings {
        margin-top: 104px;
}
.home-page__settings, .home-page__sign-out {

    font-size: 20px;
    font-family: 'NotoSansLight';
    font-weight: 600;
}
.home-page__sign-out {
    margin-top: 15px;
    margin-bottom: 40px;
}
.home-page__sign-out-two, .home-page__settings-two {
    border: none;
    font-size: 20px;
    font-family: 'NotoSansLight';
    font-weight: 600;
    color: black;
    margin-left: 10px;
    background-color: #F4F4F4;
}

.home-page__right-title {
    font-family: 'OswaldRegular';
    font-size: 36px;
    text-align: center;
}
.home-page__right-text {
    font-family: 'NotoSansLight';
    font-size: 15px;
    line-height: 156%;
    text-align: center;
    font-weight: 600;
    margin-top: 55px;
}
.home-page__right-btn {
    display: flex;
    justify-content: center;
}
.right-btn {
    font-family: 'OswaldRegular';
    margin-top: 65px;
    font-size: 24px;
    padding: 10px 60px;
    background-color: #76DE37;
    border-radius: 10px;
    border: none;
    color: black;
}